.tienda{
    tr {
        display: flex;
        justify-content: space-between;
        @media#{$tablet}{
            display: block;
        }
        td {
            transition: all 200ms cubic-bezier(0.4, 0, 0, 1);
            display: flex;
            flex-direction: column-reverse;
            align-items: center;
            justify-content: flex-end;
            border: 1px solid #eee;
            border-radius: 5px;
            width: 24.3%;
            margin-bottom: 31px;
            @media#{$tablet}{
                width: 100%;
            }
            p, a {
                font-size: 17px;
                font-weight: 700;
                color: #808080;
                margin: 15px 0;
                text-align: center;
                outline: none;

            }
            &:hover{            
                box-shadow: 0 8px 16px rgba(74, 75, 74, 0.32);
                transform: translateY(-4px);
            }
            span{
                width: 20%;
                float: left;
                border-bottom: 2px solid #7f8593;
                margin: 0 auto;
                text-align: center;
            }

        }
    }
}
body.catalog-category-view.categorypath-tienda.category-tienda{
    .col-main{
        width: 100%;
    
    }
    .col-left.sidebar{
        display: none;
    }
}
.category-products {
    float: left;
    width: 100%;
}
body.catalog-category-view{
    .category-description.std img {
        float: left;
        max-width: 100%;
    }
    .col-left { 
        width: 22%;
        @media#{$tablet}{
            width: 100%;
        }
    }
    dl#narrow-by-list {
        min-width: 85%;
        max-width: 85%;
    }
    .block.block-layered-nav {
        width: 25%;
        float: left;
        .block-content{
            display: block;
        }
    }
}
.block.block-layered-nav.block-layered-nav--no-filters {
    width: 25%;
    @media#{$tablet}{
        width: 100%;
        body.catalog-category-view .col-left{
            width: 100%;
        }
    }
}
.catalogsearch-result-index .block.block-layered-nav.block-layered-nav--no-filters{
    width: 100%;
}
table.table-flex{
    width: 100%;
    tr {
        display: flex;
        justify-content: space-between;
        align-items: center;    
        margin-bottom: 80px;
        @media#{$tablet}{
            flex-direction: column;
            margin-bottom: 0;
            td{
                margin-bottom: 50px;
            }
        }
    }
}
