<style type="text/css">
<!--
table { border: 1px solid #000;margin: 5px 0 }
table td, table th
{
    font-size:    10px;
    padding:      1px;
    text-align:   center;
}
table.records td {font-size: 9px;}
table.total td {font-size: 11px;}
table tr.border 
{
	border: 1px solid #000;
}
table.records{}
table.total { background-color:#CCCCCC}

-->
</style>
<page>
<table>
	<tr>
		<td rowspan="3" style="width:240px;"><img src="<?php echo $this->getSkinUrl('images/logo_correos.gif', array('_secure'=>true)) ?>"/></td>
		<td style="width:500px; text-align:left;font-size:12px; font-weight:bold">CLIENTE: <?php echo $this->cliente ?></td>
	</tr>
	<tr>
		<td style="text-align:left;font-size:12px; font-weight:bold">CÓDIGO DE CLIENTE: <?php echo Mage::getStoreConfig('correos/general/etiquetador') ?></td>
	</tr>
	<tr>
		<td style="text-align:left;font-size:12px; font-weight:bold">FECHA: <?php echo date("d/m/Y") ?></td>
	</tr>
</table>
<br/>
	<table>
	<tr class="border">
		<th style="width:150px;font-weight:bold">N ENVÍO</th>
		<th style="width:240px;font-weight:bold">DEST./CONSIG</th>
		<th style="width:50px;font-weight:bold">BULTOS</th>
		<th style="width:50px;font-weight:bold">KILOS</th>
		<th style="width:50px;font-weight:bold">REEMB.</th>
		<th style="width:50px;font-weight:bold">SEGURO</th>
		<th style="width:120px;font-weight:bold">VAL. AÑADIDOS</th>
	</tr>
	</table>
	<?php echo $this->registros ?>
	<?php echo $this->carriers ?>
	<table class="total">
	<tr>
		<td style="width:200px;">Totales</td>
		<td style="width:190px;"></td>
		<td style="width:50px;"><?php echo $this->totales['total_packages'] ?></td>
		<td style="width:50px;"><?php echo $this->totales['total_weight'] ?></td>
		<td style="width:50px;"><?php echo $this->totales['total_cashondelivery'] ?>&euro;</td>
		<td style="width:50px;"><?php echo $this->totales['total_insurance'] ?>&euro;</td>
		<td style="width:120px;"></td>
	</tr>
	</table>
</page>