/**
 * Copyright 2016 The Valdecode Cookie Law Compliance Authors. All rights reserved.
 * Use of this source code is governed by a MIT-style
 * license that can be found in the LICENSE.txt file.
 */
ul.tabs.config-tabs a.v-cookielaw-section span { background: url(../images/icon.png) no-repeat 187px 3px; }
ul.tabs.config-tabs a.v-cookielaw-section.active span { background: #fff url(../images/icon.png) no-repeat 187px 3px; }

.content-header h3.v-cookielaw-header { background: url(../images/icon.png) no-repeat; padding-left: 31px; }

.section-config .config .comment .v-cookielaw-notice { border: 1px solid #d6d6d6; padding: 5px; margin-bottom: 5px; background: #fafafa; }
.section-config .config .comment .v-cookielaw-notice .advice { color: #6f8992; }
.section-config .config .comment .v-cookielaw-notice a { color: #ea7601; }
