<?php
$_helper = Mage::helper('correos');
$_message = $this->getData('message');
?>
<div id="content_puntos_correos" style="margin-left: 15px; clear: both; ">
    
    <div class="additional_msg_correos" style="margin: 8px 0 8px 15px; clear: both; "><p><?php echo $_message; ?></p></div>
    
</div>