<?php
/**
 * aheadWorks Co.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://ecommerce.aheadworks.com/AW-LICENSE.txt
 *
 * =================================================================
 *                 MAGENTO EDITION USAGE NOTICE
 * =================================================================
 * This software is designed to work with Magento community edition and
 * its use on an edition other than specified is prohibited. aheadWorks does not
 * provide extension support in case of incorrect edition use.
 * =================================================================
 *
 * @category   AW
 * @package    AW_Booking
 * @version    1.4.6
 * @copyright  Copyright (c) 2010-2012 aheadWorks Co. (http://www.aheadworks.com)
 * @license    http://ecommerce.aheadworks.com/AW-LICENSE.txt
 */
?><?php
$configData = array();
if (is_object($this->getProduct()->getPreconfiguredValues())) {
    $configData = $this->getProduct()->getPreconfiguredValues()->getData();
}
$timeFrom = max($this->getProduct()->getAwBookingTimeTo(), $this->getProduct()->getAwBookingTimeFrom());
$timeTo = max($this->getProduct()->getAwBookingTimeTo(), $this->getProduct()->getAwBookingTimeFrom());
if (isset($configValue['aw_booking_time_from'])) {
    $hours = 0;
    if ($configValue['aw_booking_time_from']['daypart'] == 'pm') {
        $hours += 12;
    }
    $hours += $configValue['aw_booking_time_from']['hours'];
    $timeFrom = $hours . ',' . $configValue['aw_booking_time_from']['minutes'] . ',00';
}
if (isset($configValue['aw_booking_time_to'])) {
    $hours = 0;
    if ($configValue['aw_booking_time_to']['daypart'] == 'pm') {
        $hours += 12;
    }
    $hours += $configValue['aw_booking_time_to']['hours'];
    $timeTo = $hours . ',' . $configValue['aw_booking_time_to']['minutes'] . ',00';
}
$TimeFrom = $this->getTimeBlock('aw_booking_time_from')
    ->setId('aw_booking_time_from')
    ->setTime($timeFrom)
;
$TimeTo = $this
    ->getTimeBlock('aw_booking_time_to')
    ->setId('aw_booking_time_to')
    ->setTime($timeTo)
;
?>
<label for="aw_in"><?php echo $this->__('Date')?></label>
<p>
    <input type="text" id="id_<?php echo $this->getDisplayFieldName(AW_Booking_Block_Catalog_Product_View::DATE_FROM_NAME)?>" name="<?php echo $this->getDisplayFieldName(AW_Booking_Block_Catalog_Product_View::DATE_FROM_NAME)?>" size="10" readonly="readonly" value="<?php echo isset($configValue['aw_booking_from_display']) ? $this->formatDate($configValue['aw_booking_from_display']) : $this->formatDate($this->getFirstAvailableDay()) ;?>"/>
    <input type="hidden" id="id_<?php echo AW_Booking_Block_Catalog_Product_View::DATE_FROM_NAME?>" name="<?php echo AW_Booking_Block_Catalog_Product_View::DATE_FROM_NAME?>"  readonly="readonly" value="<?php echo isset($configValue['aw_booking_from']) ? $this->formatDate($configValue['aw_booking_from']) :  $this->formatDate($this->getFirstAvailableDay()); ?>"/>
</p>
<label for="id_<?php echo $this->getDisplayFieldName(AW_Booking_Block_Catalog_Product_View::DATE_FROM_NAME)?>"><?php echo $this->__('From')?>:</label>
<?php echo $TimeFrom->getElementHtml();?>

<label for="aw_in"><?php echo $this->__('To')?>:</label>
<?php echo $TimeTo->getElementHtml();?>
<br/>

<script type="text/javascript">
    var productAddToCartForm = new VarienForm('product_addtocart_form');
    productAddToCartForm.submit = function(){
        if(
            ($('id_<?php echo $this->getDisplayFieldName(AW_Booking_Block_Catalog_Product_View::DATE_FROM_NAME)?>').value != $("id_<?php echo $this->getDisplayFieldName(AW_Booking_Block_Catalog_Product_View::DATE_TO_NAME)?>").value) ||
                (<?php echo $TimeFrom->getJsObjectName()?>.getMinutes() < <?php echo $TimeTo->getJsObjectName()?>.getMinutes())
        ){
            productAddToCartForm.form.submit()
        }else{
            alert("<?php echo $this->__("Please ensure time interval you entered is correct")?>");
            return false;
        }

    }.bind(productAddToCartForm);

    /**
     * Load booked days details
     */
    Booking.getDayDetails = function(date){
        date = date.getFullYear()+'-'+((100+date.getMonth()+1)+'').substr(1)+'-'+((100+date.getDate())+'').substr(1)
        new Ajax.Request('<?php echo Mage::getUrl('booking_front/ajax/getdate/',array('id'=>$this->getProduct()->getId()) )?>date/'+date,
        {
            method:'get',
            onLoading: function(){
                $('aw_booking_timetable').innerHTML = '<?php echo $this->__('Loading...')?>';
                $('aw_booking_timetable').className = 'loading'
            },
            onSuccess: function(transport){
                var html = transport.responseText || "no response text";
                $('aw_booking_timetable').innerHTML = html;
                $('aw_booking_timetable').className = ''
            },
            onFailure: function(){ console.log(arguments) }
        });
        Booking.getCurrentPrice();
    }

    Booking.__onCalendarRender.push(function(cal){
        cal.selectEvent.subscribe(function(evt) {
            // Select selected days
            var dates = this.getSelectedDates();
            $(Booking.fieldFromDisplayId, Booking.fieldFromId).each(function(el){el.setValue(Booking.formatDate(dates[0]))});
            Booking.getDayDetails(dates[0]);
        }
        ,  cal, true);
    });

    $$('#aw_booking_time_from-hours', '#aw_booking_time_to-hours', '#aw_booking_time_from-daypart', '#aw_booking_time_to-daypart','#aw_booking_time_from-minutes','#aw_booking_time_to-minutes').each(function(el){
        el.observe('change', function(){ Booking.updatePrice()});
    })

    Booking.getCurrentPrice = function(){
        // Check price via AJAX
        var dates = Booking.Calendar.getSelectedDates();

        var dateFromStr = dates.first().getFullYear()+'-'+((100+dates.first().getMonth()+1)+'').substr(1)+'-'+((100+dates.first().getDate())+'').substr(1)
        var dateToStr = dates.last().getFullYear()+'-'+((100+dates.last().getMonth()+1)+'').substr(1)+'-'+((100+dates.last().getDate())+'').substr(1)

        dateFromStr += ' '+<?php echo $TimeFrom->getJsObjectName()?>.getValueString();
        dateToStr += ' '+<?php echo $TimeTo->getJsObjectName()?>.getValueString();

        dateFromStr = encodeURIComponent(dateFromStr);
        dateToStr = encodeURIComponent(dateToStr);

        new Ajax.Request('<?php echo Mage::getUrl("booking_front/ajax/getprice/",array('product_id'=>$this->getProduct()->getId()))?>from/'+dateFromStr+'/to/'+dateToStr+'/', {
            onSuccess: function(response) {
                Booking.updatePrice(eval("("+response.responseText+")"));
            }
        });
    }
</script>
<br/>
<br/>
<?php echo $this->getChild('timetable')->setDate($this->getFirstAvailableDay())->toHtml();?>
