<?php
/**
 *  HTML Invoice
 *  
 *  Copyright (C) 2015 paj@gaiterjones.com 
 *
 *  v0.0.1 - 11.06.2012 - dev BETA release
 *  v0.0.2 - 15.08.2012
 	v0.13 - 26.07.2013
	v0.14.1 - 16.01.2015 - display image of parent for grouped child products
	v0.14.2 - 27.08.2015 - get date from order instead of todays date
	v0.14.3 - 02.09.2015 - display invoice/order correctly, removed notes text, added notes hide checkbox
 
 *	This program is free software: you can redistribute it and/or modify
 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation, either version 3 of the License, or
 *  (at your option) any later version.
 *
 *  This program is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU General Public License for more details.
 *
 *  You should have received a copy of the GNU General Public License
 *  along with this program.  If not, see <http://www.gnu.org/licenses/>.
 *
 *  @category   PAJ
 *  @package    HTMLInvoice
 *  @license    http://www.gnu.org/licenses/ GNU General Public License
 * 
 *
 */

	$_order = $this->getOrder();
	$_orderStoreID=$_order->getStoreId();	
	
	$_logoURL=trim(Mage::getStoreConfig('htmlinvoice_section1/general/logourl',(int)$_orderStoreID));
	$_watermarkURL=trim(Mage::getStoreConfig('htmlinvoice_section1/general/watermark',(int)$_orderStoreID));
	$_headerText=trim(Mage::getStoreConfig('htmlinvoice_section1/general/headertext',(int)$_orderStoreID));
	$_showComments=trim(Mage::getStoreConfig('htmlinvoice_section1/general/showcomments',(int)$_orderStoreID));
	$_showImages=trim(Mage::getStoreConfig('htmlinvoice_section1/general/showimages',(int)$_orderStoreID));
	$_footerText=trim(Mage::getStoreConfig('htmlinvoice_section1/general/footertext',(int)$_orderStoreID));
	$_addVat=trim(Mage::getStoreConfig('htmlinvoice_section1/general/addvat',(int)$_orderStoreID));
	$_vatRate=trim(Mage::getStoreConfig('htmlinvoice_section1/general/vatrate',(int)$_orderStoreID));
 
	// add tax to shipping amount
	//
	if ($_addVat && $_vatRate)
	{
		$shippingInclTax = $_order->getShippingAmount() + $_order->getShippingTaxAmount();
		$_order->setShippingAmount($shippingInclTax);
	}
	
	$_orderId = $_order->getIncrementId();
	$_orderIdText=$this->__('Order'). " #". $_orderId;


?>
<!DOCTYPE HTML>
<html>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title><?php echo ($_orderIdText); ?></title>
<style type="text/css">

BODY {
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
	font-size: 12px;
}
.wrapper {
	margin: 20px;
}
.dataTableHeadingRow {
	background: none;
}
.dataTableHeadingContent {
	font-size: 12px;
	color: #000;
	padding: 6px;
	border-bottom: 2px solid #999;
}
.dataTableRow {
	background: none;
}
.dataTableContent {
	padding: 2px 6px;
	border-bottom: 1px solid #eee;
}

.alt TD { background: #eee; }

@media screen {
	#printFooter {
		display: none;
	}
}
@media print {
	#printFooter {
		position: fixed;
		bottom: 0;
	}
}

#footer {
	text-align: center;
	margin: 60px 0 0 0;
	color: #666;
}
#notes {
	border: 1px solid #999;
	width: 530px;
	height: 80px;
	padding: 5px;
	margin: 0 0 0 20px;
}
#notes TEXTAREA {
	border: none;
	width: 470px;
	height: 60px;
	overflow: hidden;
	margin: 5px 0 0 0;
	border: 0;
}
a.addr_link {
	color: #000;
	text-decoration: none;
}
.option-menu {
	padding: 8px;
	background: #eee;
	font-size: 10px;
}
.totals .label {
	padding: 5px 20px 5px 0;
}
.totals .total td {
	font-size: 1.3em;
	border-top: 1px solid #ccc;
}
div.watermark {
	display:block;
	position:fixed;
	z-index:100;
	width:100%;
	height:100%;
}
 div.content > *:first-child, x:-moz-any-link {
margin-top:0;
}/* ff only */
 div.watermark, x:-moz-any-link {
z-index:auto;
}/* ff only */
 div.watermark, x:-moz-any-link, x:default {
z-index:100;
}/* ff3 only */
 @media all and (min-width: 0px) {
div.watermark {
width:8.5in;
}
} /* opera only */
div.watermark div {
	position:absolute;
	left:0;
	width:99%;
}
/* watermark position */
/* horizontal */
div.left {
	text-align:left;
}
div.center {
	text-align:center;
}
div.right {
	text-align:right;
}
 body:last-child:not(:root:root) div.right div {
left:-160px;
}/* safari only */
/* vertical */
div.top div {
	top:0;
}
div.middle div {
	top:50%;
	margin-top:-210px;
}
div.bottom div {
	bottom:2px;
}
.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
.clearfix {
	display: inline-block;
}  /* for IE/Mac */


.button {
	-moz-box-shadow:inset 0px 1px 0px 0px #fce2c1;
	-webkit-box-shadow:inset 0px 1px 0px 0px #fce2c1;
	box-shadow:inset 0px 1px 0px 0px #fce2c1;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffc477), color-stop(1, #fb9e25) );
	background:-moz-linear-gradient( center top, #ffc477 5%, #fb9e25 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffc477', endColorstr='#fb9e25');
	background-color:#ffc477;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #eeb44f;
	display:inline-block;
	color:#ffffff;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:1px 1px 0px #cc9f52;
}.button:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #fb9e25), color-stop(1, #ffc477) );
	background:-moz-linear-gradient( center top, #fb9e25 5%, #ffc477 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fb9e25', endColorstr='#ffc477');
	background-color:#fb9e25;
}.button:active {
	position:relative;
	top:1px;
}
</style>
<style media="print" type="text/css">
.wrapper {
	margin: 0;
}
.option-menu {
	display: none;
}
</style>
</head>
<body>
<div class="option-menu">
<?php if (!empty($_watermarkURL)): ?>
  <!-- Watermark Option -->
  <strong>Options:</strong> &nbsp;  
  <label>
	Display watermark graphic<input id="cbk_paid" type="checkbox" onchange="if(this.checked){document.getElementById('watermark_graphic').style.display = 'block';}else{document.getElementById('watermark_graphic').style.display = 'none';}"  />
	<?php if ($_showComments): ?>
	Hide Comments<input id="hide_comment" type="checkbox" onchange="if(!this.checked){document.getElementById('notes').style.display = 'block';}else{document.getElementById('notes').style.display = 'none';}"  />
    <?php endif; ?> 
  </label>
 <!-- END Watermark OPtion -->
<?php endif; ?> 
 <!-- Print Button -->
   <p>
	<a href="#" class="button" onclick="window.print(); return false;"><?php echo $this->__('Print'); ?></a>
  </p>
 <!-- END Print Button -->  
</div>
<?php if (!empty($_watermarkURL)): ?>
<div id="watermark_graphic" class="watermark middle center" style="display: none;">
  <div><img src="<?php echo $_watermarkURL; ?>" /></div>
</div>
<?php endif; ?> 
<div id="invoice" class="wrapper" >
  <!-- MAIN -->
  <h1 style="float: right;"><?php echo $_orderIdText ?></h1>

  <div class="clearfix">
		<?php if (!empty($_logoURL)): ?>
		<div style="float: left; width: 400px; font-size: 10px;" id="brand_logo"> <img src="<?php echo $_logoURL; ?>"><br />
		<?php endif; ?> 

		<?php if (!empty($_headerText)): ?>	
		<div style=" margin: 0px 0 20px 80px;">
			<?php echo $_headerText ?> 	
		</div>
		<?php endif; ?> 
		</div>
  </div>
  <!-- Header -->
  <table width="100%" border="0" cellspacing="0" cellpadding="2">
    <tr>
      <td valign="top"><p><strong><?php echo $this->__('Billing address:'); ?></strong></p>
        <?php Mage::log($_order->getBillingAddress()->format('html')); ?>
        <?php echo $_order->getBillingAddress()->format('html'); ?>
      <td valign="top"><p><strong><?php echo $this->__('Delivery Address:');?></strong></p>
        <?php echo $_order->getShippingAddress()->format('html'); ?> </td>
	  <td valign="top"><p><strong><?php echo $this->__('Order Details:');?></strong></p>
        <p>
			<?php echo $this->__('Date:')?> <strong> <?php echo $_order->getCreatedAtdate(); ?> </strong><br />
			<?php echo $this->__('Payment Method:')?> <strong><?php echo $_order->getPayment()->getMethodInstance()->getTitle(); ?></strong><br />
        	<?php echo $this->__('Delivery Method:')?> <strong><?php echo $_order->getShippingDescription() ?></strong><br />
        </p>	
    </tr>
  </table>
  <!-- Order -->
  <td valign="top"><p><strong><?php echo $this->__('Products:');?></strong></p>
  <table border="0" width="99%" cellspacing="0" cellpadding="0">
    <tr class="dataTableHeadingRow">
      <td class="dataTableHeadingContent"><?php echo $this->__('Quantity'); ?></td>
      <td class="dataTableHeadingContent"><?php echo $this->__('SKU'); ?></td>
      <td class="dataTableHeadingContent" align="left"><?php echo $this->__('Description'); ?></td>
    </tr>
    <?php
	
	$_items = $_order->getAllItems();
	
	
	$x = 0; 
	
   	foreach($_items as $_item) {
		
		if ($_item->getParentItem()) continue;
		
		$_imageURL=false;
		$_product = Mage::getModel('catalog/product')->load($_item->getProductId());
		$_productType=$_product->getTypeId();

		try{
		  	// get image from either small image or normal image for simple product
			$_imageURL = Mage::helper('catalog/image')->init($_product, 'small_image')->resize(50);
		}
		catch(Exception $e) {
			$_imageURL=false;
		}		
		
		// check for mums and dads
		// -- get image from parent product of grouped products
		if ($_productType == 'simple')
		{
			if (Mage::getVersion() >= 1.4)
			{
				// Magento v1.42 +
				$_parentIdGrouped = Mage::getModel('catalog/product_type_grouped')->getParentIdsByChild( $_product->getId() );
				$_parentIdConfigurable = Mage::getModel('catalog/product_type_configurable')->getParentIdsByChild( $_product->getId() );							
			} else {
				// pre 1.42
				$_parentIdGrouped = $_product->loadParentProductIds()->getData('parent_product_ids');
				$_parentIdConfigurable = $_product->loadParentProductIds()->getData('parent_product_ids');
			}
		
			if (!empty($_parentIdGrouped[0])) // check for grouped product parent
			{
				$_parentProduct = Mage::getModel('catalog/product')->load($_parentIdGrouped[0]);
				$_imageURL = Mage::helper('catalog/image')->init($_parentProduct, 'small_image')->resize(50);
			}
		}
		
      echo '      <tr class="dataTableRow ' . ($x%2==0 ? "" : "alt") . '">' . "\n" .
           '        <td class="dataTableContent" valign="top" align="">' . number_format($_item->getQtyOrdered(), 0) . '</td>' . "\n" .
           '         <td class="dataTableContent" valign="top">' . $_item->getSku() . '</td>' . "\n" . 
		   '		 <td class="dataTableContent" valign="top">'. ($_showImages && $_imageURL ? '<img src="'. $_imageURL. '">  ' : '') . $_item->getName();

		if ($_options = $_item->getProductOptions()) {
		
			$result = array();
		
            if (isset($_options['options'])) {
                $result = array_merge($result, $_options['options']);
            }
            if (isset($_options['additional_options'])) {
                $result = array_merge($result, $_options['additional_options']);
            }
            if (!empty($_options['attributes_info'])) {
                $result = array_merge($_options['attributes_info'], $result);
            }
			
			// loop and print
			foreach ($result as $_option) {
					echo "<br /><em>" . $_option["label"] . ":</em>&nbsp;&nbsp;" . $_option["value"];
			}
			
			$finalPrice=$_item->getPrice();
			$rowTotal=$_item->getRowTotal();
			
			// add tax to product price
			if ($_addVat && $_vatRate)
			{
				$finalPrice=round($_item->getPrice() + ($_item->getPrice() * ($_vatRate/100)),2);
				$rowTotal=round($_item->getRowTotal() + ($_item->getRowTotal() * ($_vatRate/100)),2);
				//$finalPrice=Mage::helper('tax')->getPrice($_product, $_product->getFinalPrice());
			}
		} 
	  $x++;
    }
?>
    <tr>
	<!-- Totals -->
      
        </table></td>
    </tr>
  </table>
  
  <?php if ($_showComments): ?>
	<br /><br />
  <div id="notes"> <strong><?php echo $this->__('Notes:');?></strong><br />
    <!-- Comments -->
    <textarea id="comments_area"></textarea>
  </div>
  <?php endif; ?>  

  <?php if (!empty($_footerText)): ?>  
  <div id="footer">
    <p>
		<!-- Use for screen media footer text  -->
		<strong><?php echo $_footerText; ?></strong>
	</p>
  </div>
  <div id="printFooter">
    <p>
		<!-- Use for printed media footer text  -->
	</p> 
	</div>  
  <?php endif; ?>       
  <!-- ENDS Main -->
</div>
</body>
</html>
