<?php
 /**
 * GoMage LightCheckout Extension
 *
 * @category     Extension
 * @copyright    Copyright (c) 2010-2011 GoMage (http://www.gomage.com)
 * @author       GoMage
 * @license      http://www.gomage.com/license-agreement/  Single domain license
 * @terms of use http://www.gomage.com/terms-of-use
 * @version      Release: 2.2
 * @since        Class available since Release 1.0
 */

	$required		= $this->getIsRequired();
	$validation_type = $this->getValidationType();


	$input_class = ' input-text ';
	$label_class = '';

	if($required){

		if(!$validation_type){
			$input_class .= 'required-entry absolute-advice'.' ';
		}else{
			$input_class .= $validation_type.' ';
		}

		$label_class .= ' required ';

	}


?>

<div class=" tipovia">
    <label for="<?php echo $this->getPrefix();?>_street1" class="<?php echo $label_class;?>"><?php if($required):?><em>*</em><?php endif;?><?php echo $this->__('Tipo de vía') ?></label>
    <div class="input-box">
	   <?php echo $this->helper('i4mrwes')->getTipoViaHtmlSelect($this->getAddress(), $this->getPrefix().'[street][]', $this->getPrefix().'_street1', 'Tipo de vía', 'class="input-text"') ?>
    </div>
</div>

<div class="input-box nombrevia">
	<label for="<?php echo $this->getPrefix();?>_street2" class="required"><em>*</em><?php echo $this->__('Nombre de la vía') ?></label>
	<input type="text" title="<?php echo $this->__('Nombre de la vía') ?>" name="<?php echo $this->getPrefix();?>[street][]" id="<?php echo $this->getPrefix();?>_street2" value="<?php echo $this->htmlEscape($this->getAddress()->getStreet(2)) ?>" class="input-text required-entry" />
</div>

<div class="input-box nvia">
	<label for="<?php echo $this->getPrefix();?>_street3" class="required"><em>*</em><?php echo $this->__('Número de la vía') ?></label>
	<input type="text" title="<?php echo $this->__('Número de la vía') ?>" name="<?php echo $this->getPrefix();?>[street][]" id="<?php echo $this->getPrefix();?>_street3" value="<?php echo $this->htmlEscape($this->getAddress()->getStreet(3)) ?>" class="input-text required-entry" />
</div>

<div class="input-box resto">
	<label for="<?php echo $this->getPrefix();?>_street4"><?php echo $this->__('Resto (portal, escalera, etc.)') ?></label>
	<input type="text" title="<?php echo $this->__('Resto (portal, escalera, etc.)') ?>" name="<?php echo $this->getPrefix();?>[street][]" id="<?php echo $this->getPrefix();?>_street4" value="<?php echo $this->htmlEscape($this->getAddress()->getStreet(4)) ?>" class="input-text" />
</div>


