html body #tarteaucitronRoot #tarteaucitron #tarteaucitronClosePanel {
    z-index: 1;
    top: 15px;
    right: 15px;
    background: #7fc07682 !important;
    z-index: 6;
}

html body #tarteaucitronRoot #tarteaucitron #tarteaucitronServices {
    max-height: 100vh;
}

html body #tarteaucitronRoot #tarteaucitron #tarteaucitronServices .tarteaucitronMainLine {
    margin: 0 0 30px;
}

html body #tarteaucitronRoot #tarteaucitron #tarteaucitronServices .tarteaucitronTitle button {
    font-size: 12px;
    color: #000;
    width: 100%;
    box-sizing: border-box;
    background: #ccc;
    margin: 0;
}

html body #tarteaucitronRoot #tarteaucitron #tarteaucitronServices .tarteaucitronDetails {
    background-color: #333333;
}

html body #tarteaucitronRoot #tarteaucitronAlertSmall {
    background-color: #333333;
}

html body #tarteaucitronRoot #tarteaucitronAlertSmall #tarteaucitronCookiesNumber {
    background-color: rgba(255, 255, 255, 0.2);
}

html body #tarteaucitron h3 {
    text-transform: none;
}

html body #tarteaucitronRoot div#tarteaucitronAlertBig {
    width: 100%;
    max-width: 424px;
    height: 100vh;
    margin: auto;
    left: 0;
    top: 0;
    transform: translateX(-100%);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    border-radius: 0;
    padding: 35px 25px;
    transition: transform 1000ms ease-in-out;
    transition-delay: 500ms;
    background: #fff;
    box-sizing: border-box;
}

html body #tarteaucitronRoot.tarteaucitronBeforeVisible div#tarteaucitronAlertBig {
    transform: translateX(0);
}

html body #tarteaucitronAlertBig #tarteaucitronPrivacyUrl,
html body #tarteaucitronAlertBig #tarteaucitronPrivacyUrlDialog,
html body #tarteaucitronAlertBig #tarteaucitronDisclaimerAlert,
html body #tarteaucitronAlertBig #tarteaucitronDisclaimerAlert strong {
    color: #000;
}

html body #tarteaucitronCloseCross {
    color: #ccc;
    font-size: 35px;
    font-weight: 100;
    font-family: sans-serif !important;
    border: 2px solid #ccc;
    width: 31px;
    height: 31px;
    border-radius: 100px;
    padding: 0;
    line-height: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 13px;
}

html body #tarteaucitronRoot div#tarteaucitronAlertBig {
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

html body #tarteaucitronRoot .tarteaucitronDeny,
html body #tarteaucitronAlertBig #tarteaucitronCloseAlert,
html body #tarteaucitronAlertBig #tarteaucitronPersonalize2,
html body .tarteaucitronCTAButton,
html body #tarteaucitronRoot .tarteaucitronAllow {
    background: #68a760;
    color: #163812;
    cursor: pointer;
    display: inline-block;
    font-size: 13px !important;
    line-height: 1.2;
    padding: 5px 10px;
    text-decoration: none;
    margin-left: 7px;
    border-radius: 4px;
    padding: 14px;
    width: 60%;
    margin-bottom: 14px;
    text-transform: uppercase;
    font-weight: 600;
    opacity: 1;
}

html body #tarteaucitronRoot .tarteaucitronCheck:before {
    color: #163812;
}

html body #tarteaucitronRoot .tarteaucitronAllow {
    background: #7fc076;
    color: #163812;
}

html body #tarteaucitronRoot .tarteaucitronAllow:hover {
    background-color: #68a760 !important;
    color: #fff !important;
}

html body #tarteaucitronRoot .tarteaucitronDeny {
    background-color: #c72e2e;
    color: #310303;
}

html body #tarteaucitronRoot .tarteaucitronCross:before {
    color: #310303;
}

html body #tarteaucitronRoot .tarteaucitronDeny:hover {
    background-color: #a82323 !important;
    color: #fff !important;
}

html body #tarteaucitronAlertBig #tarteaucitronCloseAlert {
    background: #ccc;
    color: #333;
    font-size: 13px;
    margin-bottom: 3px;
    margin-left: 7px;
}

html body #tarteaucitronAlertBig #tarteaucitronCloseAlert:hover {
    background: rgb(155, 155, 155);
}

html body #tarteaucitronAlertBig #tarteaucitronDisclaimerAlert {
    font-size: 13px;
    text-align: justify;
}

html body #tarteaucitronAlertBig #tarteaucitronPrivacyUrl {
    padding: 10px;
    background: #fff;
    margin-top: 10px;
    color: blue;
    text-decoration: underline;
}

html body div#tarteaucitronAlertBig:before {
    content: '';
    font-size: 35px;
    background: url(/skin/frontend/rwd/barna/images/barnacampers.png) center no-repeat;
    height: 90px;
    width: 100%;
    margin-bottom: 30px;
    background-size: contain;
}

html body #tarteaucitronRoot div#tarteaucitron {
    left: 0;
    margin: auto;
    display: none;
    max-height: 100% !important;
    left: 0;
    margin: 0 !important;
    padding: 0;
    position: fixed;
    top: 0 !important;
    width: 100% !important;
    z-index: 2147483647;
    max-width: 390px;
    height: 100vh !important;
}


html body div#tarteaucitronServices {
    margin-top: 0px !important;
}

html body #tarteaucitron #tarteaucitronServices .tarteaucitronMainLine {
    background: #fff;
    border: none;
    margin: 0;
    padding: 0;
}

html body #tarteaucitronRoot .tarteaucitronH1 {
    color: #fff;
    text-align: left;
    padding: 22px 0 18px 24px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 15px;
    background: #7fc076;
    margin: 0 0 20px;
}

html body #tarteaucitron #tarteaucitronInfo {
    margin: 0 0 20px !important;
    width: 100% !important;
    padding: 0 28px 30px !important;
    max-width: 100% !important;
    box-sizing: border-box;
    text-align: left !important;
    background: transparent;
    border: none;
    color: #000;
    font-size: 13px !important;
    border-bottom: 1px solid #ccc;
    z-index: 1;
}

html body #tarteaucitron #tarteaucitronServices .tarteaucitronMainLine:hover {
    background: #fff;
}

html body #tarteaucitronRoot .tarteaucitronH2 {
    width: 100%;
    color: #000;
    display: block;
    float: none;
    margin: 30px 28px 20px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 13px !important;
}

html body #tarteaucitron #tarteaucitronPrivacyUrlDialog {
    color: blue;
    text-decoration: underline;
    margin: 0;
    padding: 0;
    font-size: 13px !important;
}

html body #tarteaucitron #tarteaucitronServices .tarteaucitronLine .tarteaucitronName {
    display: block;
    width: 100%;
}

html body #tarteaucitron #tarteaucitronServices .tarteaucitronLine .tarteaucitronAsk {
    float: left;
    margin: 2px;
}


html body button#tarteaucitronClosePanel {
    font-size: 0 !important;
    color: #ccc;
    font-weight: 100;
    font-family: sans-serif !important;
    border: 2px solid #fff;
    width: 31px !important;
    height: 31px !important;
    border-radius: 100px;
    padding: 0 !important;
    line-height: 1 !important;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 13px;
    background: #fff0 !important;
}

html body button#tarteaucitronClosePanel:before {
    content: '×';
    font-size: 35px;
    font-weight: 100;
    color: #fff;
}


html body .tarteaucitronBorder {
    border: none !important;
}

html body div#tarteaucitronServices {
    height: 100vh !important;
    background: #fff;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
}


html body #tarteaucitron #tarteaucitronServices .tarteaucitronMainLine .tarteaucitronAsk {
    margin: 0 21px;
    float: left;
    text-align: left;
}

html body #tarteaucitron .tarteaucitronH3 {
    font-size: 12px;
}

html body #tarteaucitronRoot .tarteaucitronPlus::before {
    color: #222;
}

html body #tarteaucitron #tarteaucitronServices .tarteaucitronLine .tarteaucitronAsk .tarteaucitronAllow,
html body #tarteaucitron #tarteaucitronServices .tarteaucitronLine .tarteaucitronAsk .tarteaucitronDeny,
html body .tac_activate .tarteaucitronAllow {
    background: transparent;
    color: #666;
    box-shadow: 0 0 0 1px #777;
}

html body button#tarteaucitronManager img {
    display: none;
}

html body button#tarteaucitronManager {
    background: #7fc076;
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0;
}

html body button#tarteaucitronManager:before {
    content: 'Administrar Cookies';
    color: #2c5f25;
    font-size: 11px;
    text-transform: uppercase;
    font-weight: 700;
}

html body #tarteaucitron #tarteaucitronServices #tarteaucitronAllAllowed.tarteaucitronIsSelected {
    background-color: #36870f;
    color: #fff;
    opacity: 1;
}

html body #tarteaucitron #tarteaucitronServices #tarteaucitronServices_mandatory .tarteaucitronAllow,
html body #tarteaucitron #tarteaucitronServices .tarteaucitronLine.tarteaucitronIsAllowed .tarteaucitronAllow {
    background-color: #36870f;
    color: #fff;
}


html body #tarteaucitron #tarteaucitronServices #tarteaucitronAllDenied.tarteaucitronIsSelected,
html body #tarteaucitron #tarteaucitronServices #tarteaucitronAllDenied2.tarteaucitronIsSelected {
    background-color: #c72e2e;
    opacity: 1;
    color: #fff;
}

html body #tarteaucitron #tarteaucitronServices .tarteaucitronLine.tarteaucitronIsDenied .tarteaucitronDeny {
    background-color: #c72e2e;
    color: #fff;
}

html body .tarteaucitronIsAllowed .tarteaucitronDeny {
    opacity: 0.7 !important;
}

html body .tarteaucitronIsDenied .tarteaucitronAllow {
    opacity: 0.7 !important;
}