<?php
/**
 * @author Amasty Team
 * @copyright Copyright (c) 2016 Amasty (https://www.amasty.com)
 * @package Amasty_Brands
 */
?>
<?php
$cssClass = $this->getClass() == 'product-view' ? 'product-view ambrands-link' : 'ambrands-link';
$brands = $this->getBrands() ?>
<?php if ($brands): ?>
<div class="amshopby-links-wrapper clearer" >
<?php foreach ($brands as $brand): ?>
<?php if (!$brand->getImage()) continue; ?>
<div class="<?php echo $cssClass?>"><a href="<?php echo $brand->getUrl()?>"><img
title="<?php echo $this->htmlEscape($brand->getName())?>"
alt="<?php echo $this->htmlEscape($brand->getName())?>"
src="<?php echo Mage::helper('ambrands')->getImageUrl() . $brand->getImage()?>"></a></div>
<?php endforeach ?>
</div>
<?php endif; ?>